<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>925986566639-47mr9i2ia214003aid5m4q6m05cj9j71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925986566639-47mr9i2ia214003aid5m4q6m05cj9j71</string>
	<key>API_KEY</key>
	<string>AIzaSyBpwEcCvTT58FwGbdvOfN1bOd1yHoA-AfI</string>
	<key>GCM_SENDER_ID</key>
	<string>925986566639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ukhan.Social</string>
	<key>PROJECT_ID</key>
	<string>social-f6583</string>
	<key>STORAGE_BUCKET</key>
	<string>social-f6583.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:925986566639:ios:53b12b0a8f47616e</string>
	<key>DATABASE_URL</key>
	<string>https://social-f6583.firebaseio.com</string>
</dict>
</plist>